$cell-size: 100px;
$player-size: 0.8 * $cell-size;
$shift: ($cell-size - $player-size) / 2; 
$col-count: 3;
$rows-count: 5;

.game {
    position: relative;
    width: $col-count * $cell-size;
    border: 2px solid #000;

    .game__field{
        display: flex;
        flex-wrap: wrap;
    }

    &__cell {
        height: $cell-size;
        width: $cell-size;
        border: 1px dashed #000;
        box-sizing: border-box;
    }
}

&player {
    top: $shift;
    left: $shift;

    position: absolute;
    height: $player-size;
    width: $player-size;
    background-color: #000;
    border-radius: 50px;

    @function currentShift ($position, $size, $base-shift){
        @return ($position - 1) * $size + $base-shift
    }

    @for $row from 1 through $rows-count{
        &--y--#{$row}{
            top: currentShift($row, $cell-size, %$shift)
            }
        }  
    @for $column from 1 through $col-count{
        &--y--#{$column}{
            left: currentShift($column, $cell-size, %$shift)
            }
        }  
    }

    $colors:
        yellow #ff0, 
        red #f00, 
        green #080, 
        blue #00f;

    @each $name, $color in $colors {
        &--color--#{$name} {
            background-color: $color;
        }
    }

    


